.profile
  = image_tag @user.profile_pic_url(:thumb).to_s
%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}

- if user.has_role? :admin
  = link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete