//= link_to 'New Baby pic', new_baby_pic_path
%h1 Babies!

- @baby_pics.each do |baby_pic|
  %span.span3
    =link_to image_tag(baby_pic.photo_url(:small)), baby_pic
    %p
      = baby_pic.title
    = link_to 'Show', baby_pic
    = link_to 'Edit', edit_baby_pic_path(baby_pic)
    = link_to 'Destroy', baby_pic, :confirm => 'Are you sure?', :method => :delete

%br


